@import "./custom.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Roboto";
    src: url("/Roboto_Condensed/RobotoCondensed-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}